.row
  .columns.small-12
    = link_to 'New', new_admin_administrator_path, :class => 'button radius pull-right secondary'
    %h2 Administrators

    %table
      %thead
        %tr
          %th Name
          %th Email
          %th{ width: '20%' }

      %tbody
        - @administrators.each do |admin|
          %tr
            %td= admin[:name]
            %td= admin[:email]
            %td.actions
              = link_to 'Edit', edit_admin_administrator_path(admin)
              - unless admin.super_admin?
                = link_to 'Delete', admin_administrator_path(admin), method: :delete, data: { confirm: 'Are you sure?' }