<div class="row">
  <h2><%= @birth_plan.title %></h2>
  <%= form_for BirthPlanAnswer.new, url: birth_plan_answer_path(@birth_plan), method: :patch do |f| %>
    <div class="columns small-12 medium-12">
      <%= hidden_field_tag :birth_plan_id, @birth_plan.id %>
   	  <% @birth_plan.questions.each_with_index do |question, ind| %>
        <% answers = @answers.where("question_id = ?", question) %>
        
        <div class= "form-group">
          <label><b>Question  <%= ind+1 %>. &nbsp&nbsp
          <%= question.title %><%= question.id %><%= "*" if question.required? %></b>
          </label>
          <%= question.note if question.note.present? %>
          <% ques_type = question.ques_type %>
               
          <% case ques_type %>
            <% when 1 %>
              <div class="radio">
                <% answers.each do |answer| %>
                  <% if answer.answer? %>
                    <% if question.required? %>
                      <label><input type="radio" name="[plan][<%=question.id%>]" value="true" checked > True </label>
                      <label><input type="radio" name="[plan][<%=question.id%>]" value="false"> False</label>
                    <% else %>
                      <label><input type="radio" name="[plan][<%=question.id%>]" value="true" checked> True </label>
                      <label><input type="radio" name="[plan][<%=question.id%>]" value="false"> False</label>
                    <% end %>
                  <% else %>
                    <% if question.required? %>
                      <label><input type="radio" name="[plan][<%=question.id%>]" value="true"> True </label>
                      <label><input type="radio" name="[plan][<%=question.id%>]" value="false" checked> False</label>
                    <% else %>
                      <label><input type="radio" name="[plan][<%=question.id%>]" value="true"> True </label>
                      <label><input type="radio" name="[plan][<%=question.id%>]" value="false" checked> False</label>
                    <% end %>
                  <% end %>  
                <% end %>  
              </div>
            <% when 2 %>
              <div class="radio">
                <% answers.each do |answer| %>
                  <% if question.required? %>
                    <% question.options.each do |option| %>
                      <% if answer.answer == option.option_title %>
                        <label class="radio-inline"><input type="radio" name="[plan][<%=question.id%>]" value="<%= option.option_title %>" checked><%= option.option_title %> </label>
                      <% else %>
                         <label class="radio-inline"><input type="radio" name="[plan][<%=question.id%>]" value="<%= option.option_title %>"><%= option.option_title %> </label>
                      <% end %> 
                    <% end %>
                  <% else %>
                    <% question.options.each do |option| %>
                      <% if answer.answer == option.option_title %>
                        <label class="radio-inline"><input type="radio" name="[plan][<%=question.id%>]" value="<%= option.option_title %>" checked><%= option.option_title %> </label>
                      <% else %>
                         <label class="radio-inline"><input type="radio" name="[plan][<%=question.id%>]" value="<%= option.option_title %>"><%= option.option_title %> </label>
                      <% end %>  
                    <% end %>
                  <% end %>
                <% end %>   
              </div> 
            <% when 3 %>
              
            <% when 4 %>
              <% answers.each do |answer| %> 
                <% if question.required? %>
                  <textarea  rows="4" name="[plan][<%=question.id%>]"  class="form-control" required><%= answer.answer %> </textarea> 
                <% else %>
                  <textarea rows="4" name="[plan][<%=question.id%>]" class="form-control"><%= answer.answer %></textarea>
                <% end %>
              <% end %>
            <% when 5 %>
              <% answers.each do |answer| %> 
                <% if question.required? %>
                  <input type="email" name="[plan][<%=question.id%>]"  class="form-control" value= '<%= "#{answer.answer}"%>' required></input> 
                <% else %>
                  <input type="email" name="[plan][<%=question.id%>]"  class="form-control" value= '<%= "#{answer.answer}"%>'></input>  
                <% end %>
              <% end %>
            <% when 6 %>
              <% answers.each do |answer| %> 
                <% if question.required? %>
                  <input type="text" name="[plan][<%=question.id%>]"  class="form-control" value= '<%= "#{answer.answer}"%>' required></input> 
                <% else %>
                  <input type="text" name="[plan][<%=question.id%>]"  class="form-control" value= '<%= "#{answer.answer}"%>' ></input>  
                <% end %> 
              <% end %>  
            <% end %>
          </div>  
    <% end %>
  </div>
  <div class="form-group">
    <input class="btn btn-success" name="commit" type="submit" value="submit" />
  </div>
<% end %>  	
</div>