
<style type="text/css">

    .page-break { 
      display: block; 
      clear: both; 
      page-break-after: always; 
    }

    .pdf-content{
      text-align: justify;
      font-size: 10pt;
      line-height: 1.5;
      font-family: "Times New Roman", Times, serif;
    }
</style>
    <% Question::CATEGORY_TYPES.each_with_index do |cat, index| %>
        <div class="pdf-content">
        <div class="row">
            <h2><%= @user.first_name.titleize %> Report</h2>
            <table width="100%" style="font-family:'AvrNx';" >
                <% @questions = Question.where(:category => cat) %>
                <h3 align='center'><u><%= cat %></u></h3>
                <% @questions.each_with_index do |question, index| %>
                    <% ques = @birth_plan_answers.find_by(:question_id => question.id) %>
                     <tr>
                      <td>Q.<%= index+1 %>: <%= question.try(:title) %></td>
                    </tr>
                    <tr>
                        <td>
                            <% if ques.present? %>
                                <% if ques.answer.present? %>
                                    <%= ques.answer %>
                                <% else %>
                                    <% if  ques.answer_options.present? %>
                                        <% ques.answer_options.each do |answer| %>
                                            <%= answer.option.try(:option_title) %>
                                            <% if answer.textbox_answer.present? %>
                                                : <%= answer.textbox_answer %>
                                            <% end %><br>
                                        <% end %>
                                    <% end %>
                                <% end %>
                            <% else %>
                                Not Filled
                            <% end %>
                      </td>
                    </tr>
                <% end %>
            </table>
        </div>
        </div>
        <div><br><%= "Page #{index+1}" %></div>
        <div class="page-break"></div>
    <% end %>

