<div class="row">
	<h2><%= @user.first_name.titleize %> Report</h2>
  <table width="100%" style="font-family:'AvrNx';" >
    <% @birth_plan_answers.each_with_index do |ques, ind| %>
      <tr>
        <td><b>Question <%= ind+1 %>. <%= ques.try(:question) %></b>
        </td>
      </tr>
      <tr>
        <td>
        <% if ques.answer.present? %>
          <%= ques.answer %>
        <% else %>
          
          <% ques.answer_options.each do |answer| %>
            <%= answer.option.option_title %><br>
          <% end %>
          <% end %>
        </td>
      </tr>    
    <% end %>    
  </table>
</div>