<div class="form-inputs main_form_box">
  <h2 class="form_head">SIGN UP NOW</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>
    <div class="mr_btm">
      <div class="one-half">
        <%= f.input :first_name, required: true, label: false, placeholder: 'First Name', :input_html => {:class => "input_box1" } %>
      </div>
      <div class="one-half">
        <%= f.input :last_name, required: true, label: false, placeholder: 'Last Name', :input_html => {:class => "input_box2" } %>
      </div>
    </div>
    <div class="one-full">
      <%= f.input :email, required: true, label: false, placeholder: 'email', :input_html => {:class => "input_box3" }  %>
    </div>
    <div class="one-half">
      <%= f.input :password, required: true, label: false , placeholder: 'Password', :input_html => {:class => "input_box4" } %>
    </div>
    <div class="one-half">
      <%= f.input :password_confirmation, required: true, label: false, placeholder: 'Confirm Password', :input_html => {:class => "input_box5" } %>
    </div>
    <div class="one-half">
      <%= f.input :zipcode, required: true, label: false, placeholder: 'Zip code', :input_html => {:class => "input_box6" }, as: :string %>
    </div>
    <div class="one-half">
      <%= f.input :due_date, required: true, label: false, placeholder: 'Due Date', :input_html => {:class => "due_date input_box7 datepicker" }, as: :string %>
    </div>
    <div class="one-full">
      <label class="term_class">
      <%= f.check_box :terms_n_condition, required: true %>I agree to the Terms of use and Privacy Statement 
      </label>
    </div>
    <div class="form-actions">
      <%= f.button :submit, "Sign up" %>
    </div>
    <div class="one-full">
      <p>Have an Account? <a href="/users/sign_in" style="color: #f4c553;margin-left: 10px;">LOG IN</a></p>
    </div>
  <% end %>

  <%#= render "devise/shared/links" %>
</div>  
<style type="text/css">
  .form_head{
    text-transform: uppercase;
    font-weight: 400;
    text-align: left;
    color: #000;
    font-size: 24px;
  }
  .main_form_box{
    width: 55%;
    margin: 5% auto;
    border: 1px solid #ccc;
    padding: 2% 5%;
    display: table;
  }
  .one-full{
    width: 100%;
    display: inline-block;
    float: left;
  }
  .one-half{
    width: 50%;
    display: inline-block;
    float: left;
  }
  input[type="text"],input[type="password"],input[type="email"]{
    height: 60px;
    font-size: 16px;
    color: #b3b3b3;
    margin:0;
    box-shadow: none !important;
  }
  input[type="text"]:focus,input[type="password"]:focus,input[type="email"]:focus{
    border-top: 1px solid #f4c553 !important;
    border-bottom: 1px solid #f4c553 !important;
    border-left: 1px solid #f4c553 !important;
    border-right: 1px solid #f4c553 !important;
  }
  .term_class{
    margin:20px 0 0 0;
    color: #090909;
    font-size: 16px;
    letter-spacing: 2px;
  }
  input[type="checkbox"]{
    vertical-align: top;
    margin-right: 5px;
    margin-top: 2px;
  }
  .mr_btm{
    margin-bottom: 30px;
    width: 100%;
    float: left;
  }
  input[type="submit"]{    
    width: 100%;
    padding: 4%;
    text-align: left;
    border: 0;
    color: #fff;
    margin: 2% 0;
    font-size:16px;
    background: #f4c553 url("/assets/arrow.png") no-repeat right top;
    background-position: 92% center;
    font-weight: 600;
    background-size: 6%;
  }
  input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #b3b3b3;
  }
  input::-moz-placeholder { /* Firefox 19+ */
    color: #b3b3b3;
  }
  input:-ms-input-placeholder { /* IE 10+ */
    color: #b3b3b3;
  }
  input:-moz-placeholder { /* Firefox 18- */
    color: #b3b3b3;
  }
  .due_date{
    background:url("/assets/calendar_icon.png") no-repeat right top;
    background-position: 92% center;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
    background-size: 10%
  }
  .input_box1{
    border-top: 1px solid #ccc !important;
    border-bottom: 1px solid #ccc !important;
    border-left: 1px solid #ccc !important;
    border-right: none !important;
  }
  .input_box2{
    border-top: 1px solid #ccc!important;
    border-bottom: 1px solid #ccc !important;
    border-left: 1px solid #ccc !important;
    border-right: 1px solid #ccc !important;
  }
  .input_box3{
    border-top: 1px solid #ccc !important;
    border-bottom: none !important;
    border-left: 1px solid #ccc !important;
    border-right: 1px solid #ccc !important;
  }
  .input_box4{
    border-top: 1px solid #ccc !important;
    border-bottom: none !important;
    border-left: 1px solid #ccc !important;
    border-right: none !important;
  }
  .input_box5{
    border-top: 1px solid #ccc !important;
    border-bottom: none !important;
    border-left: 1px solid #ccc !important;
    border-right: 1px solid #ccc !important;
  }
  .input_box6{
    border-top: 1px solid #ccc !important;
    border-bottom: 1px solid #ccc !important;
    border-left: 1px solid #ccc !important;
    border-right: none !important;
  }
  .input_box7{
    border-top: 1px solid #ccc !important;
    border-bottom: 1px solid #ccc !important;
    border-left: 1px solid #ccc !important;
    border-right: 1px solid #ccc !important;
  }
</style>