<table id="send-report" width="100%" style="font-family:'AvrNx';border:1px solid #000;">
  <tr id="send-head" style="background: #004290;padding: 10px 33px;position: relative; z-index: 99;">
    <%= link_to image_tag('logo.png', width: 99, height: 56), video_path %>
  </tr>
  <tr>
    <td><h2><%= @user.first_name.titleize %> Report</h2></td>
  </tr>

  <% Question::CATEGORY_TYPES.each do |cat| %>
  <% c_quest = Question.where(:category => cat).pluck(:id) %>
  <% if @user.birth_plan_answers.where(:question_id => c_quest).present? %>
  <tr><td></td></tr>
  <tr id="send-title">
    <td>
      <h3 align='center'><b><u><%= cat %></u></b></h3>
      
      <% @birth_plan_answers.where(:question_id => c_quest).each_with_index do |ques, ind| %>
        <tr>
          <td><%= ind+1 %>) <%= ques.try(:question) %></td>
        </tr>
        <tr>
          <td>
              <% if ques.answer.present? %>
                  <%= ques.answer %>
              <% else %>
                  <% if  ques.answer_options.present? %>
                      <% ques.answer_options.each do |answer| %>
                          <%= answer.option.try(:option_title) %>
                          <% if answer.textbox_answer.present? %>
                              : <b><%= answer.textbox_answer %></b>
                          <% end %><br>
                      <% end %>
                  <% end %>
              <% end %>
          </td>
        </tr>  
        <tr><td></td></tr>  
      <% end %>
    <% end %>
    </td>
  </tr>
<% end %>
<style>
#send-report{border:1px solid #000;}
#send-head{background: #004290;padding: 10px 33px;position: relative; z-index: 99;}
#send-mid{border-bottom: 1px solid #000;}
</style>
</table>
