.row
  .columns.small-12
    = link_to 'New', new_admin_news_path, :class => 'button radius pull-right secondary'
    %h2 News

    %table
      %thead
        %tr
          %th Date
          %th Title
          %th Views
          %th{ width: '20%' }

      %tbody
        - @news.each do |news|
          %tr
            %td= news.post_date
            %td= news.title
            %td= news.visits
            %td.actions
              = link_to 'Edit', edit_admin_news_path(news)
              = link_to 'Delete', admin_news_path(news), method: :delete, data: { confirm: 'Are you sure?' }
        %tr
          %td= will_paginate @news