<% if user_signed_in? %>
<div class='birth-plan-splash'>
	<%= image_tag 'profile-pic.jpg' %>
    <h2 class="_splash_heading">Your Birth Plan Journey</h2>
</div>
<div class='row _user_profile_layout'>
	<div class='columns small-12 user-profile-area'>
		<div class="user-profile-area-content">
			<ul>
				<li>
					<h3><%= "#{(current_user.try(:first_name)).try(:humanize)} #{(current_user.try(:last_name)).try(:humanize)}" %></h3>                                
				</li>
				<li><%= link_to "Log Out", destroy_user_session_path, method: :delete, :class => 'logout-link'  %></li>
			</ul>
		</div>
		<div class='user-profile-options'>
			<div class="columns small-12 large-7">
				<div class="profile-options options-edit">
					<a href="/set_birth_plan" title=""><span class="profile-options-icon"><%= image_tag 'edit_summery.png' %></span><%= current_user.birth_plan_answers.present? ? 'Edit Birth Plan Summary' : 'Start Birth Plan' %></a>
				</div>
				<div class="profile-options options-print">
					<% if current_user.birth_plan_answers.present? %>
						<a onclick="printJS('/questions/report.pdf?print=true')"><span class="profile-options-icon" ><%= image_tag 'print.png' %></span>Print</a>
					<% else %>
						<a href='' class='not-active'><span class="profile-options-icon" ><%= image_tag 'print.png' %></span>Print</a>
				<% end %>
				</div>
			</div>
			<div class="columns large-4">
				<div  class="profile-options options-download">
				<% if current_user.birth_plan_answers.present? %>
					<%= link_to report_birth_plan_answers_path(format: 'pdf'), target: :_blank, download: "#{current_user.first_name}-report" do%>
						<span class="profile-options-icon"><%= image_tag 'download.png' %></span>Download PDF
					<% end %>
				<% else %>
					<a class='not-active'><span class="profile-options-icon"><%= image_tag 'download.png' %></span>Download PDF</a>
				<% end %>
				</div>
				<div class="profile-options options-email">
				<% if current_user.birth_plan_answers.present? %>
					<%= link_to send_email_report_birth_plan_path(current_user.id), remote: true, class: 'email-send-btn' do%>
						<span class="profile-options-icon" ><%= image_tag 'email.png' %></span>Email
					<% end %>
				<% else %>
					<a href="javascript:void(0);" class='not-active'><span class="profile-options-icon"><%= image_tag 'email.png' %></span>Email</a>
				<% end %>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="birth-plan-summery-heading-section">
			<h2 class="birth-plan-summery-heading-section-main">Square roots birth plan</h2>
			<div class="birth-plan-summery-heading">
				<div class="summery-heading-area">
					<span class="summery-heading-icon left"><%= image_tag 'logo_white.png'%></span>
					<div class="doc-name"><%= "#{(current_user.try(:first_name)).try(:humanize)} #{(current_user.try(:last_name)).try(:humanize)}" %>,</div>
					<div class="doc-caption">Birth Plan Summary</div>
					<span class="summery-heading-icon right"><%= image_tag 'doc_icon.png' %></span>
				</div>
				<div class="birth-plan-content">
					<div class="heading-due-date">
						<div class="right">Due Date - <%= current_user.due_date.strftime("%B %d, %Y") if current_user.due_date.present? %></div>
					</div>
					<div class="birth-plan-summery">                    
						<div class='columns small-12 medium-6'>
							<div class="birth-plan-summery-content">
								<h2>Who &amp; Where </h2>
								<p>
									<% cat = 'WHO & WHERE' %>
									  <% c_quest = Question.where(:category => cat).pluck(:id) %>
									  <% if current_user.birth_plan_answers.where(:question_id => c_quest).present? %>
									    <% current_user.birth_plan_answers.where(:question_id => c_quest).each_with_index do |ques, ind| %>
									      <%= ques.try(:question) %>:
									            <% if ques.answer.present? %>
									                <%= ques.answer %>
									            <% else %>
									                <% if  ques.answer_options.present? %>
									                    <% ques.answer_options.each do |answer| %>
									                        <%= answer.option.try(:option_title) %>
									                        <% if answer.textbox_answer.present? %>
									                            : <b><%= answer.textbox_answer %></b>
									                        <% end %><br>
									                    <% end %>
									                <% end %>
									            <% end %>
									    <% end %>
									  <br><br>
									<% end %>
									<br><br>
								</p>
								<br>
								<h2 class="nomargin">Environment </h2>
								<p><% cat = 'ENVIRONMENT' %>
									  <% c_quest = Question.where(:category => cat).pluck(:id) %>
									  <% if current_user.birth_plan_answers.where(:question_id => c_quest).present? %>
									    <% current_user.birth_plan_answers.where(:question_id => c_quest).each_with_index do |ques, ind| %>
									      <%= ques.try(:question) %>:
									            <% if ques.answer.present? %>
									                <%= ques.answer %>
									            <% else %>
									                <% if  ques.answer_options.present? %>
									                    <% ques.answer_options.each do |answer| %>
									                        <%= answer.option.try(:option_title) %>
									                        <% if answer.textbox_answer.present? %>
									                            : <b><%= answer.textbox_answer %></b>
									                        <% end %><br>
									                    <% end %>
									                <% end %>
									            <% end %>
									    <% end %>
									  <br><br>
									<% end %>
									<br><br></p>
									<br>
									<h2 class="nomargin">In labor </h2>
									<p><% cat = 'IN LABOR' %>
										  <% c_quest = Question.where(:category => cat).pluck(:id) %>
										  <% if current_user.birth_plan_answers.where(:question_id => c_quest).present? %>
										    <% current_user.birth_plan_answers.where(:question_id => c_quest).each_with_index do |ques, ind| %>
										      <%= ques.try(:question) %>:
										            <% if ques.answer.present? %>
										                <%= ques.answer %>
										            <% else %>
										                <% if  ques.answer_options.present? %>
										                    <% ques.answer_options.each do |answer| %>
										                        <%= answer.option.try(:option_title) %>
										                        <% if answer.textbox_answer.present? %>
										                            : <b><%= answer.textbox_answer %></b>
										                        <% end %><br>
										                    <% end %>
										                <% end %>
										            <% end %>
										    <% end %>
										  <br><br>
										<% end %>
										<br><br></p>			
									<div class='spacer show-for-small'></div>     
								</div>                       
						</div>
						<div class='columns small-12 medium-6'>
							<div class="birth-plan-summery-content">
										<h2>Immediately After Birth </h2>
										<p>
											<% cat = 'IMMEDIATELY AFTER BIRTH' %>
											  <% c_quest = Question.where(:category => cat).pluck(:id) %>
											  <% if current_user.birth_plan_answers.where(:question_id => c_quest).present? %>
											    <% current_user.birth_plan_answers.where(:question_id => c_quest).each_with_index do |ques, ind| %>
											      <%= ques.try(:question) %>:
											            <% if ques.answer.present? %>
											                <%= ques.answer %>
											            <% else %>
											                <% if  ques.answer_options.present? %>
											                    <% ques.answer_options.each do |answer| %>
											                        <%= answer.option.try(:option_title) %>
											                        <% if answer.textbox_answer.present? %>
											                            : <b><%= answer.textbox_answer %></b>
											                        <% end %><br>
											                    <% end %>
											                <% end %>
											            <% end %>
											    <% end %>
											  <br><br>
											<% end %>
											<br><br></p>
											<br>
											<h2 class="nomargin">Baby Questions </h2>
											<p><% cat = 'YOUR NEW BORN' %>
											  <% c_quest = Question.where(:category => cat).pluck(:id) %>
											  <% if current_user.birth_plan_answers.where(:question_id => c_quest).present? %>
											    <% current_user.birth_plan_answers.where(:question_id => c_quest).each_with_index do |ques, ind| %>
											      <%= ques.try(:question) %>:
											            <% if ques.answer.present? %>
											                <%= ques.answer %>
											            <% else %>
											                <% if  ques.answer_options.present? %>
											                    <% ques.answer_options.each do |answer| %>
											                        <%= answer.option.try(:option_title) %>
											                        <% if answer.textbox_answer.present? %>
											                            : <b><%= answer.textbox_answer %></b>
											                        <% end %><br>
											                    <% end %>
											                <% end %>
											            <% end %>
											    <% end %>
											  <br><br>
											<% end %>
											<br><br></p><br>
										<div class='spacer show-for-small'></div>
								</div>
							</div>
						</div>
					</div>
			</div>

		</div>                    
	</div>
</div>
<div class='clear'></div>
<script type="text/javascript">
	$(document).one('click', '.email-send-btn' ,function(){
		$(this).append("Sent");
	});
</script>
				<% end %>