%header.default.admin
  .logo= link_to image_tag('logo.png', width: 99, height: 56), admin_root_path
  .menu
    %ul
      - if current_admin
        %li= link_to 'News', admin_news_index_path
        %li= link_to 'Team', admin_team_members_path
        %li= link_to 'Tags', admin_tags_path
        %li= link_to 'Birth Plans', admin_birth_plans_path
        %li= link_to 'Questions', admin_questions_path
        %li= link_to 'Admins', admin_administrators_path
        %li= link_to 'Users', admin_users_path
        %li= link_to 'Logout', admin_logout_path
  .clear
