<footer>
  <div class="mainfooter">
    <div class="tagline">
      <span>Square Roots&trade; is a mission-driven company focused on pregnancy health and wellness.</span>
    </div>
    <div class="footer-buttons">
      <%= link_to 'Play Video', '#', :class => 'play-video' %>
      <%= link_to 'Play Video', '#', :class => 'play-video-direct' %>
      <%= mail_to 'info@squareroots.com', 'Contact Us', target: '_blank' %>
    </div>
  </div>
</footer>
<div class="video-popup reveal-modal" data-reveal>
  <div class="inner">
    <div class="close-modal show-for-small">
      <%= image_tag 'close.png', width: 27, height: 27 %>
    </div>
    <div class="clear"></div>
    <video controls="controls" id="video" poster="<%= image_path('video.jpg') %>">
      <source src="/video2.mp4" type="video/mp4"></source>
      <source src="/video2.webm" type="video/webm"></source>
      <source src="/video2.ogv" type="video/ogg"></source>
    </video>
  </div>
</div>
<% if current_user.present? %>
<div id="checklist-popup" class="checklist-popup" style="margin-top: -232.5px;">
        <div class="row checklist-section">
            <a href="javascript:void(0);" class="close-checklist-form close-btn">close</a>            
            <div class="medium-centered large-centered">
                <h4 class="">Hospital checklist</h4>                 
                <%= render 'birth_plans/checklist_answers' %>               
            </div>
        </div>
    </div>
    
    <div class="common-overlay" style="display: none;"></div>
    <div id="termofuse-popup" class="termofuse-popup" style="margin-top: -232.5px;">
        <div class="row termofuse-section">
            <a href="javascript:void(0);" class="close-termofuse-form close-btn">close</a>
            <a href="javascript:void(0);" class="back-termofuse-form back-btn"><span class="back-btn-icons"></span>Back</a>
            <div class="medium-centered large-centered">
                <h4 class="text-center">Square Root Terms of Use</h4> 
                <h6 class="text-center">Last Updated: September 12, 2016</h6>                  
                <div id="termofuse-content" class="termofuse-container scrollable" tabindex="-1"><div class="scroll-bar vertical" style="height: 320px; display: block;"><div class="thumb" style="top: 0px; height: 147.763px;"></div></div><div class="viewport" style="height: 320px; width: 583px;"><div class="overview" style="top: 0px; left: 0px;">
                    <ol>
                        <li>
                            <h2>Account Registration</h2>
                            <p>To make a purchase on Jet, you must register for an account here. You must be at least 18 years old to register for an account. Only one account is permitted per household.</p>
                            <p>You agree that all of your registration information will be true and complete, and you will keep your account information current and up-to-date. You agree to keep your Jet username and password conﬁdential, and to access the Jet Sites from devices that have up-to-date operating systems and security software. You agree not to allow anybody else to use your account, including in any way that is meant to circumvent these Terms of Use. You will be responsible for all purchases made, and anything else that occurs, through your account.</p>
                            <p>Please notify us immediately of any suspected unauthorized activity on your account by sending an email to privacy@squareroots.com.</p>
                        </li>
                        <li>
                            <h2>Privacy</h2>
                            <p>You consent to the collection, use, disclosure and other handling of information as described in our Privacy Notice, which may be updated from time to time. You consent to our monitoring and recording of telephone calls, emails, and texts (and other forms of communications) between you and us, no matter who initiates the communication. (Monitoring and recording calls and emails helps us get better at helping you!)</p>
                        </li>
                    </ol>
                </div></div><div class="scroll-bar horizontal" style="width: 583px; display: none;"><div class="thumb" style="left: 0px; width: 583px;"></div></div></div>
            </div>
        </div>
    </div>
    <% end %>
    <% if current_user.present? && current_user.birth_plan_answers.present? %>
    <div style='display: none'>
    <div id='DivIdToPrint'>
        <div class="row">
        <h2><%= current_user.first_name.titleize %> Report</h2>
        <table width="100%" style="font-family:'AvrNx';" >
            <% current.user.birth_plan_answers.each_with_index do |ques, ind| %>
            <tr>
                <td><b>Question <%= ind+1 %>. <%= ques.try(:question) %></b>
            </td>
            </tr>
                <tr>
                    <td>
                        <% if ques.answer.present? %>
                            <%= ques.answer %>
                        <% else %>
                            <% if  ques.answer_options.present? %>
                                <% ques.answer_options.each do |answer| %>
                                    <%= answer.option.try(:option_title) %>
                                    <% if answer.textbox_answer.present? %>
                                        : <b><%= answer.textbox_answer %></b>
                                    <% end %><br>
                                <% end %>
                            <% end %>
                        <% end %>
                    </td>
                </tr>    
            <% end %>    
        </table>
        </div>
    </div>
  </div>
  <% end %>
    <script type="text/javascript">
       $(document).ready(function(){
            $("#termofuse-content, #checklist-content").customScrollbar();
            $("#new_birth_plan_answer").validationEngine({validateNonVisibleFields: true,
        updatePromptsPosition:false});
        });    

        function printDiv() 
        {

          var divToPrint=document.getElementById('DivIdToPrint');

          var newWin=window.open('','Print-Window');

          newWin.document.open();

          newWin.document.write('<html><body onload="window.print()">'+divToPrint.innerHTML+'</body></html>');

          newWin.document.close();

          setTimeout(function(){newWin.close();},10);

        }
    </script>