<div class="birth_plan_ques_section">
    <ol id='quest-pagination'>
        <%= hidden_field_tag :birth_plan_id, @birth_plan.id %>
       
        <% @questions.each_with_index do |question, ind| %>
        <li id="li-<%= question.id%>">
            <h2><%= question.title %> <% if question.note.present? %><a class="ques_info" style="display: inline-block;" href="javascript:void(0);" title><div class="tooltip_box"><%= question.note%></div></a><% end %></h2>            
            <% ques_type = question.ques_type %>
            <div class="option-area">
                <ul>
                    <% case ques_type %>
                    <% when 1, 2 %>
                    <% question.options.each_with_index do |option, index| %>
                    <li id="li-option-<%= option.id %>">
                        <input type="radio" name="answers[<%= question.id %>][radio][option_id]" value="<%= option.id %>" class="options radio radio-<%=question.id %> <%= question.required == true ? '' : '' %>" id="<%= question.id %>--<%= option.id %>--<%= ind+1 %>options" <%= @user.birth_plan_answers.map(&:answer_options).flatten.map(&:option_id).flatten.compact.include?(option.id) ? 'checked=checked' : ''%>>
                        <label for="<%= question.id %>--<%= option.id %>--<%= ind+1 %>options"><%= option.option_title %></label>
                            <% if option.description.present? && option.textbox_enable == false %><a class="ques_info" style="display: inline-block;" href="javascript:void(0);" title>   <div class="tooltip_box" ><%= option.description %></div></a>
                            <% end %>
                            <% if option.textbox_enable == true %>
                                <input type="text" name="answers[<%= question.id %>][radio][text]" class="textfield validate[condRequired[<%= question.id %>--<%= option.id %>--<%= ind+1 %>options]] options option-id-<%= option.id %> opt-<%= question.id %>" id="te<%= question.id %>--<%= option.id %>--<%= ind+1 %>options" value="<%= val = @user.birth_plan_answers.find_by(:question_id => question.id).present? ? "#{@user.birth_plan_answers.find_by(:question_id => question.id).answer_options.find_by(option_id: option.id).try(:textbox_answer)}" : '' %>" placeholder= "<%= option.description %>" <%= val.present? ? "" : "disabled" %>>
                            <% end %>
                        
                    </li>
                    <script type="text/javascript">
                        $(".radio-<%=question.id %>").on('click', function() {
                            $(".opt-<%= question.id %>").val('');
                            $(".opt-<%= question.id %>").attr('disabled',true);
                            $(".opt-<%= question.id %>").removeClass('validate[required] input-box-error');
                            if (document.body.contains(this.nextElementSibling.nextElementSibling)){
                                this.nextElementSibling.nextElementSibling.disabled = false;
                            }
                        });

                    </script>
                    <% end %> 
                    <% when 3 %>
                    <% question.options.each_with_index do |option, index| %>
                    <li id="li-option-<%= option.id %>">   
                    <%= hidden_field_tag "answers[#{question.id}][checkbox][]", nil %>                                          
                        <input type="checkbox" name="answers[<%= question.id %>][checkbox][]" class="options checkbox-cl checkbox-<%=question.id %> <%= question.required == true ? '' : '' %>" id="<%= question.id %>--<%= option.id %>--<%= ind+1 %>options" value="<%= option.id %>" <%= @user.birth_plan_answers.map(&:answer_options).flatten.map(&:option_id).flatten.compact.include?(option.id) ? 'checked=checked' : ''%>>
                        
                        <label for="<%= question.id %>--<%= option.id %>--<%= ind+1 %>options"><%= option.option_title %>
                        </label>
                        <% if option.description.present? %>
                         <a class="ques_info" style="display: inline-block;" href="javascript:void(0);" title><div class="tooltip_box"><%= option.description%></div></a>
                        <% end %>
                        
                    </li>
                    <% end %> 
                    
                    <% when 4, 6 %>
                    <li>                      
                        <input type="text" name="answers[<%= question.id %>][textbox]" class="textfield options <%= question.required == true ? 'validate[required]' : '' %>" id="textbox-<%= question.id %>" value="<%= @user.birth_plan_answers.find_by(:question_id => question.id).try(:answer) %>", placeholder="<%= question.note %>" >
                    </li> 
                    <% when 5 %>
                    <li>                      
                        <input type="text" name="answers[<%= question.id %>][textbox]" class="validate[custom[email]] <% if question.required? %>validate[required] <% end %> textfield options <%= question.required == true ? '' : '' %>" id="textbox-<%= question.id %>" value="<%= @user.birth_plan_answers.find_by(:question_id => question.id).try(:answer) %>", placeholder="<%= question.note %>" >
                    </li>     

                    <% end %>
                </ul>
            </div>
        </li>     
        <% end %>        
         
    </ol>
</div>
</div>
<div class="birth_plan_pagination desktop text-center">
    <%= link_to "Save", save_session_birth_plan_answers_path(c_id: 101), class: "button nxt-btn admin-side-btn", remote: true %>
</div>
<script type="text/javascript">
    $( document ).ready(function() {
        $("#new_birth_plan_answer").validationEngine();
    });
</script>
