.row
  .columns.small-12
    /= link_to 'New', new_admin_administrator_path, :class => 'button radius pull-right secondary'
    %h2 Users

    %table
      %thead
        %tr
          %th Name
          %th Email
          %th{ width: '30%' }

      %tbody
        - @users.each do |user|
          %tr
            %td= user.first_name + ' ' +user.last_name
            %td= user.email
            %td.actions
              = link_to 'Birth Plan',birth_plan_report_admin_user_path(user)
              = link_to 'Show', admin_user_path(user)
              = link_to 'Delete', admin_user_path(user), method: :delete, data: { confirm: 'Are you sure?' }
        %tr
          %td= will_paginate @users