<% if @category.present? %>
<div id="checklist-content" class="checklist-container scrollable" tabindex="-1">
    <div class="scroll-bar vertical" style="height: 320px; display: block;">
        <div class="thumb" style="top: 0px; height: 118.794px;"></div>
    </div>
    <div class="viewport" style="height: 320px; width: 667px;">
        <div class="overview" style="top: 0px; left: 0px;">
            <% @category.each_with_index do |cat, index| %>
            <h6 class=""><%= cat %></h6>     
            <div class="checklist-content-section-<%= index+1 %>">
                <% @checklists.each do |checklist| %>
                <% if checklist.category == cat %>
                <div class="checklist-item">
                    <% if checklist.sub_category.blank? %>
                        <input type="checkbox" name="<%= checklist.title %>--<%= cat %>" class="options checkbox-popup" id="checklistitem-<%= checklist.id %>" <%= 'checked' if @checklist_answers.map(&:title).include?("#{checklist.title}")%>>
                        <label for="checklistitem-<%= checklist.id %>"><%= checklist.title %></label>
                    <% else %>
                        <p><%= checklist.sub_category %></p>
                        <ul>
                            <li>
                                <input type="checkbox" name="<%= checklist.title %>" class="options checkbox-popup" id="checklistitem_sub-<%= checklist.id %>" <%= 'checked' if @checklist_answers.map(&:title).include?("#{checklist.title}")%>>
                                <label for="checklistitem_sub-<%= checklist.id %>"><%= checklist.title %></label>
                            </li>
                        </ul>
                    <% end %>
                </div> 
                <% end %>           
                <% end %>
                 <% @self_checklists.each do |checklist| %>
                 <% if checklist.category == cat %>
                <div class="checklist-item">
                    <input type="checkbox" name="<%= checklist.title %>--<%= cat %>" class="options checkbox-popup" id="checklistitem-<%= checklist.id %>-<%= cat %>" <%= 'checked' if @checklist_answers.map(&:title).include?("#{checklist.title}")%>>
                        <label for="checklistitem-<%= checklist.id %>-<%= cat %>"><%= checklist.title %></label>
                </div>
                <% end %>
                <% end %>
                <div class="add-checklistitem">
                    <%= form_for ChecklistAnswer.new, remote: true, html: {id: "form-#{index+1}"} do |f|%>
                    <%= f.hidden_field :user_id, value: current_user.id %>
                    <%= f.hidden_field :category, value: cat %>
                    <%= f.text_field :title, class: 'options validate[required]', placeholder: 'Add Your Own', id: "add-checklistitem-text-#{index+1}" %>
                    <%= f.submit 'Add', class: "button add-checklist", id: "add-checklist-#{index+1}" %>
                    <% end %>
                </div>
            </div>
            <script type="text/javascript">
                $(document).on("click", "#add-checklist-<%= index+1 %>", function(){

            var getinputVal = jQuery(this).closest(".checklist-content-section-<%= index+1 %>").find("input#add-checklistitem-text-<%= index+1 %>").val();
            var addchecklist_item = '<div class="checklist-item">';
            addchecklist_item +="<input type='checkbox' name=" + getinputVal + " class='options' id=" + getinputVal + " checked>" ;                                       
            addchecklist_item +='<label for='+ getinputVal +">" + getinputVal +'</label>';
            addchecklist_item +=' </div>';
            
            jQuery(this).closest(".add-checklistitem").prev().after(addchecklist_item);
            setTimeout(function(){
                jQuery("input#add-checklistitem-text-<%= index+1 %>").val('');
            },10);
        
        });

            </script>
            <% end %>
        </div>
    </div>
    <div class="scroll-bar horizontal" style="width: 667px; display: none;">
        <div class="thumb" style="left: 0px; width: 667px;">

        </div>
    </div>
</div>
<script type="text/javascript">
    $('.checkbox-popup').on('change', function() {
    var chk = $("#"+this.id).prop('checked')
    var cat = this.name.split("--")[1]
    var name = this.name.split("--")[0]
    $.ajax({
      url: '/checklist_answers/toggle?title='+name+'&&is_checked='+chk+'&&category='+cat,
      type: 'POST',
      data: {"completed": this.checked}
    });
  });     

</script>
<% end %>