<div class="birth_plan_ques_section">
    <ol id='quest-pagination'>
        <%= hidden_field_tag :birth_plan_id, @birth_plan.id %>
        <% if @birth_plan_checklist == true %>
        <li>
            <h2>Use our <a href="javascript:void(0);" class="checklist-link">Hospital Checklist</a> to create a list of things you would like to bring with you to bring with you to the hospital</h2>            
        </li>
        <% end %>
        <% @questions.each_with_index do |question, ind| %>
        <li id="li-<%= question.id%>">
            <h2><%= "*" if question.required? %><%= question.title %> <% if question.note.present? %><a class="ques_info" style="display: inline-block;" href="javascript:void(0);" title><div class="tooltip_box"><%= question.note%></div></a><% end %></h2>            
            <% ques_type = question.ques_type %>
            <div class="option-area">
                <ul>
                    <% case ques_type %>
                    <% when 1, 2 %>
                    <% question.options.each_with_index do |option, index| %>
                    <li id="li-option-<%= option.id %>">
                        <input type="radio" name="answers[<%= question.id %>][radio][option_id]" value="<%= option.id %>" class="options radio radio-<%=question.id %> <%= question.required == true ? '' : '' %>" id="<%= question.id %>--<%= option.id %>--<%= ind+1 %>options" <%= current_user.birth_plan_answers.map(&:answer_options).flatten.map(&:option_id).flatten.compact.include?(option.id) ? 'checked=checked' : ''%>>
                        <label for="<%= question.id %>--<%= option.id %>--<%= ind+1 %>options"><%= option.option_title %></label>
                            <% if option.description.present? && option.textbox_enable == false %><a class="ques_info" style="display: inline-block;" href="javascript:void(0);" title>   <div class="tooltip_box" ><%= option.description %></div></a>
                            <% end %>
                            <% if option.textbox_enable == true %>
                                <input type="text" name="answers[<%= question.id %>][radio][text]" class="textfield validate[condRequired[<%= question.id %>--<%= option.id %>--<%= ind+1 %>options]] options option-id-<%= option.id %> opt-<%= question.id %>" id="te<%= question.id %>--<%= option.id %>--<%= ind+1 %>options" value="<%= current_user.birth_plan_answers.find_by(:question_id => question.id).present? ? "#{current_user.birth_plan_answers.find_by(:question_id => question.id).answer_options.find_by(option_id: option.id).try(:textbox_answer)}" : '' %>" placeholder= "<%= option.description %>">
                            <% end %>
                        
                    </li>
                    <script type="text/javascript">
                        $(".radio-<%=question.id %>").on('click', function() {

                            $(".opt-<%= question.id %>").val('');
                            $(".opt-<%= question.id %>").removeClass('validate[required] input-box-error');
                        });

                    </script>
                    <% end %> 
                    <% when 3 %>
                    <% question.options.each_with_index do |option, index| %>
                    <li id="li-option-<%= option.id %>">   
                    <%= hidden_field_tag "answers[#{question.id}][checkbox][]", nil %>                                          
                        <input type="checkbox" name="answers[<%= question.id %>][checkbox][]" class="options checkbox-cl checkbox-<%=question.id %> <%= question.required == true ? '' : '' %>" id="<%= question.id %>--<%= option.id %>--<%= ind+1 %>options" value="<%= option.id %>" <%= current_user.birth_plan_answers.map(&:answer_options).flatten.map(&:option_id).flatten.compact.include?(option.id) ? 'checked=checked' : ''%>>
                        
                        <label for="<%= question.id %>--<%= option.id %>--<%= ind+1 %>options"><%= option.option_title %>
                        </label>
                        <% if option.description.present? %>
                         <a class="ques_info" style="display: inline-block;" href="javascript:void(0);" title><div class="tooltip_box"><%= option.description%></div></a>
                        <% end %>
                        
                    </li>
                    <% end %> 
                    
                    <% when 4, 6 %>
                    <li>                      
                        <input type="text" name="answers[<%= question.id %>][textbox]" class="textfield options <%= question.required == true ? 'validate[required]' : '' %>" id="textbox-<%= question.id %>" value="<%= current_user.birth_plan_answers.find_by(:question_id => question.id).try(:answer) %>", placeholder="<%= question.note %>" >
                    </li> 
                    <% when 5 %>
                    <li>                      
                        <input type="text" name="answers[<%= question.id %>][textbox]" class="validate[custom[email]] <% if question.required? %>validate[required] <% end %> textfield options <%= question.required == true ? '' : '' %>" id="textbox-<%= question.id %>" value="<%= current_user.birth_plan_answers.find_by(:question_id => question.id).try(:answer) %>", placeholder="<%= question.note %>" >
                    </li>     

                    <% end %>
                </ul>
            </div>
        </li>     
        <% end %>        
         
    </ol>
</div>
</div>
<div class="birth_plan_pagination desktop">
    <div class="paggingDiv">
        <span class="currentPage page"><%= @cat_id %></span> OF <span class="totalPages page">5</span> PAGES
    </div>
    <% unless @cat_id == 5 %>
        <div class= "paggingDiv second"><%= link_to "Save", save_session_birth_plan_answers_path(c_id: @cat_id), class: "button sve-btn nxt-btn", remote: true %>
        </div>
        <div class="paggingDiv">
            <a class="button nxt-btn next-button <%= @cat_id == 5 ? 'deactive-1' : '' %>">Next</a>
            <%#= link_to "Next", set_birth_plan_path(c_id: @cat_id+1), class: "button nxt-btn next-button #{@cat_id == 5 ? 'deactive-1' : ''}", remote: (@cat_id == 5 ? true : false) %>
        </div>
    <% else %>
        <div class= "paggingDiv second">
            <%= link_to "Save", set_birth_plan_path(c_id: @cat_id+1), class: "button nxt-btn #{@cat_id == 5 ? 'deactive-1' : ''}", remote: (@cat_id == 5 ? true : false) %>
        </div>
        <div class="paggingDiv"></div>
    <% end %>
</div>
