<%= form_for @birth_plan, url: birth_plan_answers_path, remote: true, method: :post do |f| %>
<div class="birth_plan_ques_section">
    <ol>
        <%= hidden_field_tag :birth_plan_id, @birth_plan.id %>
        <li>
            <h2>Use our <a href="javascript:void(0);" class="checklist-link">Hospital Checklist</a> to create a list of things you would like to bring with you to bring with you to the hospital</h2>            
        </li>
        <% Question.ordered.each_with_index do |question, ind| %>
        <li id="li-<%= question.id%>">
            <h2><%= "*" if question.required? %><%= question.title %></h2>            
            <% ques_type = question.ques_type %>
            <div class="option-area">
                <ul>
                    <% case ques_type %>
                    <% when 1, 2 %>
                    <% question.options.each_with_index do |option, index| %>
                    <li id="li-option-<%= option.id %>">
                        <input type="radio" name="answers[<%= question.id %>][radio]" value="<%= option.id %>" class="options radio" id="<%= question.id %>--<%= option.id %>--<%= ind+1 %>options" <%= current_user.birth_plan_answers.map(&:answer_options).flatten.map(&:option_id).flatten.compact.include?(option.id) ? 'checked=checked' : ''%>>
                        <label for="<%= question.id %>--<%= option.id %>--<%= ind+1 %>options"><%= option.option_title.titleize %><a class="ques_info" href="javascript:void(0);" title>
                            <div class="tooltip_box">We hope that you ﬁnd this helpful and leave feeling more prepared for your big day! If at any point you would like more information.</div></a>
                        </label>
                    </li>
                    <% end %> 
                    <% when 3 %>
                    <% question.options.each_with_index do |option, index| %>
                    <li id="li-option-<%= option.id %>">                                             
                        <input type="checkbox" name="answers[<%= question.id %>][checkbox][<%= option.id %>]" class="options checkbox-cl" id="<%= question.id %>--<%= option.id %>--<%= ind+1 %>options" value="<%= option.id %>" <%= current_user.birth_plan_answers.map(&:answer_options).flatten.map(&:option_id).flatten.compact.include?(option.id) ? 'checked=checked' : ''%>>
                        <label for="<%= question.id %>--<%= option.id %>--<%= ind+1 %>options"><%= option.option_title %><a class="ques_info" href="javascript:void(0);" title><%= question.note if question.note.present? %></a></label>
                    </li>
                    <% end %>  
                    <% when 4, 5, 6 %>
                    <li>                      
                        <input type="text" name="answers[<%= question.id %>][textbox]" class="options" id="option4-<%= ind+1 %>" value=<%= current_user.birth_plan_answers.find_by(:question_id => question.id).try(:answer) %>>
                    </li>                    
                    <% end %>
                </ul>
            </div>
        </li>     
        <% end %>
    </ol>
</div>
</div>
<div class="birth_plan_pagination desktop">
    <div class="paggingDiv">
        <span class="currentPage page">1</span> OF <span class="totalPages page">9</span> PAGES
    </div>
    <div class= "paggingDiv second"><%= f.submit 'Save' %> </div>
    <div class="paggingDiv">
        <a href="javascript:void(0);" title="" class="button nxt-btn">Next</a>                                
    </div>
</div>
<script type="text/javascript">
    $('.radio').on('click', function() {        
    var chk = $("#"+this.id).prop('checked')
    var opt_id = this.id.split("--")[1]
    var ques_id = this.id.split("--")[0]
    $.ajax({
      url: '/checklist_answers/restrictions?type=radio&&ques_id='+ques_id+'&&opt_id='+opt_id+'&&checked='+chk,
      type: 'POST',
      data: {"completed": ''}
    });
  }); 

    $('.checkbox-cl').on('change', function() {        
    var chk = $("#"+this.id).prop('checked')
    var opt_id = this.id.split("--")[1]
    var ques_id = this.id.split("--")[0]
    $.ajax({
      url: '/checklist_answers/restrictions?type=checkbox&&ques_id='+ques_id+'&&opt_id='+opt_id+'&&checked='+chk,
      type: 'POST',
      data: {"completed": ''}
    });
  }); 

</script>
<% end %>  