<div class="birth-plan-splash">
    <%= image_tag('quetion_header.jpg') %>
    <h2 class="_splash_heading">Your Birth Plan Journey</h2>
    <div class="progress-bar-mobile"><%= Question::CATEGORY_TYPES[@cat_id-1] %> <span><%= @cat_id %>/5</span></div>
    <div class="progress-bar">
        <div class="row">
            <ul>
                <li class="step-1 first <%= 'active' if @cat_id == 1 %>">
                    <h4>WHO &amp; WHERE</h4>
                    <span class="small-oval"></span>
                    <span class="large-oval"></span>
                    <span class="dark-line"></span>
                    <span class="active-oval">
                        <div class="active-oval-text">WHO<br>&amp;<br>WHERE</div>
                    </span>
                </li>
                <li class="step-2 <%= 'active' if @cat_id == 2 %>">
                    <h4>ENVIRONMENT</h4>
                    <span class="small-oval"></span>
                    <span class="large-oval"></span>
                    <span class="dark-line"></span>
                    <span class="active-oval">
                        <div class="active-oval-text">ENVIRONMENT</div>
                    </span>
                </li>
                <li class="step-3 <%= 'active' if @cat_id == 3 %>">
                    <h4>In Labor</h4>
                    <span class="small-oval"></span>
                    <span class="large-oval"></span>
                    <span class="dark-line"></span>
                    <span class="active-oval">
                        <div class="active-oval-text">In Labor</div>
                    </span>
                </li>
                <li class="step-4 <%= 'active' if @cat_id == 4 %>">
                    <h4>IMMEDIATELY AFTER BIRTH</h4>
                    <span class="small-oval"></span>
                    <span class="large-oval"></span>
                    <span class="dark-line"></span>
                    <span class="active-oval">
                        <div class="active-oval-text">IMMEDIATELY<br>AFTER<br>BIRTH</div>
                    </span>
                </li>
                <li class="step-5 last <%= 'active' if @cat_id == 5 %>">
                    <h4>YOUR NEWBORN</h4>
                    <span class="small-oval"></span>
                    <span class="large-oval"></span>
                    <span class="dark-line"></span>
                    <span class="active-oval">
                        <div class="active-oval-text">YOUR<br>NEWBORN</div>
                    </span>
                </li>                            
            </ul>
        </div>
    </div>
</div>
<%= form_for @birth_plan, url: birth_plan_answers_path, method: :post do |f| %>
<%= f.hidden_field :c_id, value: @cat_id %>
<div class="birth_plan_process section">
    <div class="row">
        <div class="columns small-12">
            <div class="birth_plan_welcome">
                <a class="birth_plan_welcome_help help" href="javascript:void(0);" title="">
                    <div class="tooltip_box">
                       For any medical questions, please refer to your care provider. We would, however, love your feedback on the birth plan itself. If you have any questions or concerns regarding the content or formatting of this page, please let us know by emailing Katie@squareroots.com
                   </div>
               </a>
               <hr><hr>
               <div class="text-center birth_plan_welcome_text">
                <p>Hello and welcome to your birth plan!</p>
                <p>We hope that you ﬁnd this helpful and leave feeling more prepared for your big day! If at any point you would like more information, you can click the (i) to read more about your options. You can also skip any questions that you are unsure about, and if you run out of time, you can always save your progress to return to ﬁll it in later.</p>
                <p>Thank you and congratulations!</p>
            </div>
            <hr><hr>
        </div>
        <%= render 'birth_plans/form', f: f %>
    </div>                    
</div>
</div>
<div class="birth_plan_pagination mobile">
    <div class="row">
        <div class="paggingDiv">
            <span class="currentPage page"><%= @cat_id %></span> OF <span class="totalPages page">9</span> PAGES
        </div>                            
        <div class="paggingDiv">
            <% if @cat_id == 5 %>        
                <a href="javascript:void(0);" title="" class="button nxt-btn deactive-1">Save and Countinue</a>
            <% else %>
                <%= link_to "Next", set_birth_plan_path(c_id: @cat_id+1), class: "button nxt-btn #{@cat_id == 5 ? 'deactive-1' : ''}" %> 
            <% end %> 
        </div>
    </div>
</div>
<div id="confirmation-popup" class="confirmation-popup" style="margin-top: -257.5px;">
        <div class="row termofuse-section">
            <a href="javascript:void(0);" class="close-confirmation-form close-btn">close</a>            
            <div class="medium-centered large-centered">
                <h4 class="text-center">Congratulations</h4> 
                <p class="text-center">You just completed your birth plan!<br>You can always login to print, email or download it!</p>
                <div id="confirmation-content" class="confirmation-container text-center">
                    <ul>
                        <li>
                            <div class="confirmation-img">
                                <div class="confirmation-pic"><%= image_tag 'print.png' %></div>
                            </div>
                            <div class="confirmation-caption">Print</div>
                        </li>
                        <li>
                            <div class="confirmation-img">
                                <div class="confirmation-pic"><%= image_tag 'email.png' %></div>
                            </div>                            
                            <div class="confirmation-caption"><%= link_to "Email", send_email_report_birth_plan_path(current_user.id), remote: true %></div>
                        </li>
                        <li>
                            <div class="confirmation-img">
                                <div class="confirmation-pic"><%= image_tag 'download.png' %></div>
                            </div>
                            <div class="confirmation-caption">
                                <%= link_to "Download", report_birth_plan_answers_path(format: 'pdf') %>
                            </div>
                        </li>
                    </ul>
                    <%= f.submit "Save Answer", class: 'btn' %>
                </div>
            </div>
        </div>
    </div>
<% end %> 