- title 'The Facts'

.section
  .row
    .columns.small-12
      %p The United States is the only developed nation where maternal mortality is on the rise.
      %p We spend more per birth than any nation in the world, but our spending is not translating into better health. We are failing to capitalize on the single strongest determinant of lifelong health – pregnancy through the first 500 days of life.

.alternate-section
  .row
    .columns.small-12.medium-7
      = image_tag 'fact-1.jpg'
    .columns.small-12.medium-5
      .stat
        .spacer
        The US ranks
        %br
        %strong 56th out of 224 countries
        %br
        in the world
        %br
        in infant mortality.
      .source The World Factbook 2016-17. Washington, DC: Central Intelligence Agency, 2016.

.section.fact-2
  .row
    .columns.small-12.medium-6
      .stat
        Between 2011 and 2012, there were 11.8 deaths per 100,000 live births for white women, 41.1 deaths per 100,000 live births for black women.
      .source CDC. “Pregnancy Mortality Surveillance System.” Centers for Disease Control and Prevention. Centers for Disease Control and Prevention, 21 Jan. 2016. Web. 23 Jan. 2016.
    .columns.small-12.medium-6
      .right.women-fact
        %div.yellow 41.1
        %div.grey 11.8

      .clear

.alternate-section
  .row
    .columns.small-12.medium-5
      = image_tag 'fact-3.jpg'
    .columns.small-12.medium-6.medium-offset-1
      .spacer.show-for-small
      .stat
        %strong 33% of women in the US
        %br
        deliver via cesarean section,
        %br
        %strong more than double
        %br
        the World Health Organization's
        %br
        recommendation.
      .source WHO, UNICEF, UNFPA, World Bank (2015). Trends in Maternal Mortality 1990-2015

.section
  .row
    .columns.small-12
      .map-fact
        = interchange_tag 'fact-4.jpg', width: 1000, height: 547
        .content
          .stat
            %strong
              The only developed nation with
              %br
              a rising mortality rate.
          .keys
            .head Key
            %ul
              %li
                %span.key.us
                %span &nbsp; United States
              %li
                %span.key.dn
                %span &nbsp; Developed Nations
              %li
                %span.key.un
                %span &nbsp; Developing Nations
          .clear
          .source Kassebaum et al (2014). Global, regional, and national levels and causes of maternal mortality during 1990–2013: a systematic analysis for the Global Burden of Disease Study 2013. The Lancet, 384(9947), 980-1004

.alternate-section
  .row
    .columns.small-12.medium-7
      = image_tag 'fact-5.jpg'
    .columns.small-12.medium-5
      .stat
        .spacer
        Odd one out:
        %br
        %strong Maternal-mortality rate,
        %br
        per 100,000 live births.
      .spacer.hide-for-small
      .spacer.hide-for-small
      .source Kassebaum et al (2014). Global, regional, and national levels and causes of maternal mortality during 1990–2013: a systematic analysis for the Global Burden of Disease Study 2013. The Lancet, 384(9947), 980-1004

.section
  .row
    .columns.small-12.medium-6
      .stat
        %strong In the United States,
        %br
        mothers are
        %br
        %strong 75% more likely to die
        %br
        from complications
        %br
        of pregnancy than in 1995.
      .source Clinton Foundation, Gates Foundations, The Economist Intelligence Unit, WORLD Policy Analysis Center (2015). No Ceilings Full Participation Report 2015.
    .columns.small-12.medium-6
      .spacer.show-for-small
      .center= image_tag 'fact-6.jpg', height: 250, width: 345
.alternate-section.country-facts
  .row
    .columns.small-12.medium-7
      .row.center
        .columns.small-12.medium-4.facts-inner
          .img= image_tag 'botswana.png'
          %h3 botswana
          .big-text 8.93
          %p $871 on Health Care 
          %i per capita

        .columns.small-12.medium-4.facts-inner
          .img= image_tag 'bahrain.png'
          %h3 bahrain
          .big-text 9.35
          %p $2,273 on Health Care 
          %i per capita

        .columns.small-12.medium-4.facts-inner
          .img= image_tag 'mississippi.png'
          %h3 mississippi
          .big-text 9.6
          %p $6,571 on Health Care 
          %i per capita

    .columns.small-12.medium-5
      .stat
        %div 
          With an infant mortality rate of
          %strong 9.6 per 1,000 live births,
          Mississipi is faring worse than both Botswana (8.93) and Bahrain (9.35).

      .source Mathews, TJ, MacDorman, MF, Thoma, ME (Aug 2015) Infant Mortality Statistics From the 2013 Period Linked Birth/Infant Death Data Set National vital statistics reports; vol 64 no 9. Hyattsville, MD: NaMathewstional Center for Health Statistics.The World Factbook 2016–17. Washington, DC: Central Intelligence Agency, 2016
