/ .show-for-large-up
/   .video-popup.reveal-modal{ data: { reveal: true } }
/     .inner
/       .close-modal.show-for-small= image_tag 'close.png', width: 27, height: 27
/       .clear
/       %video{ :autoplay => "autoplay", controls: 'controls', id: 'video', poster: image_path('video.jpg') }
/         %source{ src: '/video2.mp4', type: "video/mp4" }
/         %source{ src: '/video2.webm', type: "video/webm" }
/         %source{ src: '/video2.ogv', type: "video/ogg" }
.skip
  .show-for-large-up
    = link_to video_path do
      = image_tag 'skip.png', width: 25, height: 25
      %br
      Skip
  .hide-for-large-up
    = link_to what_path do
      = image_tag 'skip.png', width: 25, height: 25
      %br
      Skip

.slide.preload
  .body
    #preloader
      = image_tag 'preloader.png', width: 122, height: 50
      .life
        %span.icon= image_tag 'root.png', width: 60, height: 20
        %span.stagger1 H
        %span.stagger1 E
        %span.stagger1 A
        %span.stagger1 L
        %span.stagger1 T
        %span.stagger1 H
        %span.sep =
        %span.stagger2 B
        %span.stagger2 I
        %span.stagger2 R
        %span.stagger2 T
        %span.stagger2 H
      .progress
    .show-for-large-up
      #video-embed
        %video{ :autoplay => "autoplay", controls: 'controls', id: 'intro-video', poster: image_path('video.jpg') }
          %source{ src: '/video2.mp4', type: "video/mp4" }
          %source{ src: '/video2.webm', type: "video/webm" }
          %source{ src: '/video2.ogv', type: "video/ogg" }

.slide.mother
  .backdrop{ data: { imgliquid: true } }
    = image_tag 'mother.jpg', data: { preloader: 30 }
  .quote{ data: { vertical: true } }
    %blockquote Motherhood: All love begins and ends there.
    %cite Robert Browning

.slide.visuals
  .inner
    .backdrop
      %video{ autoplay: 'autoplay', loop: 'loop', id: 'visuals', poster: image_path('visuals.jpg'), data: { preloader: 70, duration: 8 } }
        %source{ src: image_path('visuals.mp4'), type: "video/mp4" }
        %source{ src: image_path('visuals.webm'), type: "video/webm" }
        %source{ src: image_path('visuals.ogv'), type: "video/ogg" }
    .row
      .content{ data: { vertical: true } }
        .logo= image_tag 'visuals-logo.png', width: 52, height: 92
        .brand Square Roots&trade;
      .tagline
        %span.a The mission of Square Roots&trade; is to define and empower healthy birth.
      .buttons
        %span.a
          = link_to 'What We Do', what_path
        %span.b
          = link_to 'The Facts', facts_path
        / %span.c
        /   = link_to 'Framework', framework_path
        %span.d
          = link_to 'Team', team_path
        %span.e
          = link_to 'News', news_index_path
        %span.f
          = link_to 'Login', login_path
        %span.g
          = mail_to 'info@squareroots.com', 'Contact Us', :class => 'last', target: '_blank'

