- title 'Projects'

.section
  .row
    .columns.small-12
      .title
        %h2 BIRTH&trade; Framework
      %p
        The BIRTH&trade;
        framework is a shift in emphasis from a single solution view of the
        MCH ecosystem to a multifaceted systems approach.
        It is a move from individualism to dynamic coordination -
        and the evolution of Square Roots&trade; into a new kind of organization
        that discovers, partners, and aligns into one complete system
        comprised of multiple, complementary factors and components.
        Developed in coordination with leading labs, hospitals,
        cities, and community health providers, the BIRTH&trade;
        framework codifies best practices for a healthy pregnancy and
        shares that information with all stakeholders and includes:
      %ul
        %li
          Birth Plan: The Square Roots&trade; research team is designing a
          Birth Plan App. The App framework will offer a decision tree to
          assist mothers in creating their plan and demonstrating how each
          decision can impact future options and outcomes. The framework
          will provide real time education to empower the mother in making
          the best decisions for herself.
        %li
          Information: Research is the cornerstone of everything Square
          Roots&trade; does. Our Advisory Board consists of MDs and PhDs from top
          universities and medical centers, as well as partnerships with
          leading scientific organizations like NASA, who are all committed
          to providing the most up-to-date and world renowned research on
          best practices. Square Roots&trade; is committed to providing women with
          access to the best evidence-based data to make informed decisions.
        %li
          Rating: Ratings help identify & differentiate between communities,
          organizations, and cities that are taking proactive steps to
          improve maternal health outcomes. The BIRTH 40&trade; initiative
          is our rating system to connect these entities from across the
          country and around the globe to share best practices, innovative
          solutions, and current evidenced-based research to improve maternal
          and infant health outcomes.
        %li
          Technology: Square Roots&trade; is launching a platform of technology
          solutions to improve the pregnancy experience for expectant mothers
          around the world. The platform, which Square Roots&trade; is calling the
          BIRTH&trade; Mark, will create a coordinated environment between
          maternal care providers and mothers, share evidence-based
          information with the public, and create a virtual community
          of mothers while focusing on lowering the cost of care and
          simplifies implementation of shared decision-making.
        %li
          Human Centered: Square Roots&trade; is working with cities to create
          Communities of Care with the human touch to provide the “last mile”
          of connectivity and sharing the experiences of mothers about what
          the journey of giving birth means to them. Square Roots&trade; commits to
          focusing on how to reclaim birth as a natural part of the human
          experience, and share the stories and wisdom of mothers who have
          experienced the journey with other mothers.
      %hr

.section
  .row
    .columns.small-12
      .title
        %h2 BIRTH 40&trade;: The Coalition of Cities Improving Birth in the United States
      %p
        A comprehensive solution requires connecting what is currently a very
        fragmented maternal health ecosystem and shifting the narrative of the
        conversation. Over the next four years, the Square Roots&trade; BIRTH 40&trade;
        Initiative will connect 40 member cities and states in order to
        streamline the sharing and dissemination of best practices, innovative
        solutions, and current evidence-based research regarding how to
        improve maternal and infant health outcomes. The primary goal of
        BIRTH 40&trade; is to improve pregnancy outcomes within member cities and
        states and to empower local governments to take ownership over the
        health of expectant mothers and their newborn babies within their
        communities.
      %p
        This initiative explores new territory within the maternal health
        ecosystem, as current standards are focused at the institutional
        and clinical level without placing importance on action at the
        municipal or state levels. Square Roots&trade; has already identified 11
        U.S. cities and states focused on improving maternal and infant
        health outcomes after introducing a resolution on maternal health
        at the 2015 U.S. Conference of Mayors. Now Square Roots&trade; is targeting
        other key cities nationally that are on the cutting edge of maternal
        health as leaders to emulate.
      %p
        The BIRTH 40&trade; initiative provides community needs assessments and
        quantitative measures on the state of maternal and infant health
        in each member city and state. After the community needs assessments
        are conducted within each member city, local conferences will be held
        within those communities to share findings with the community.
        Square Roots&trade; is utilizing its BIRTH Framework to give the
        inaugural 40 cities and states access to better maternal and
        infant health care systems and resources. We will customize the
        BIRTH Framework approach within each community based off the findings
        of their needs assessment. This system will provide member cities and
        states a technology platform and products to disseminate the most
        up-to-date information on pregnancy, labor, and delivery from the
        leading labs, hospitals, cities, and community health providers to
        community stakeholders and over a million pregnant women within
        the first year. The BIRTH 40&trade; coalition will also host summits during
        the four-year commitment to further collaborate between BIRTH 40&trade;
        members to share challenges as well as best practices.
      %p
        By connecting cities and states with exemplary maternal and infant
        health outcomes to other cities in need of improvement in particular
        areas of maternal and infant health, BIRTH 40&trade; will streamline the
        ability to converse about common goals and to share and scale
        solutions to improve pregnancy outcomes. BIRTH 40&trade; is a continued
        shift to-wards cities and states as the natural coordinating and
        implementation points of greatest leverage for change. The programs
        is hoping to make moms-to-be more informed about the resources and
        options available to them through-out their pregnancy experience,
        and empower each of them to take action to do what is needed to
        give their child a healthy start to life. Furthermore, by taking
        a community-based approach, we hope that this program will spark
        a dialogue and create opportunities to share best practices and
        information with other expecting mothers and families in the
        community to improve outcomes and shift the culture of giving
        birth from a clinical episode to a celebration.
      %hr

.section
  .row
    .columns.small-12
      .title
        %h2 Natchez
      %p
        In 2016 Square Roots&trade; in collaboration with Clinton Health Matters
        launched a pilot program to better the health of mothers and infants
        in Natchez, Mississippi.
      .slideshow
        .slideshow-slide
          = image_tag "projects_slideshow/proj_s_1.jpg"
          .slideshow-slide-text-container
            %p.slideshow-slide-text
              Ashley, 21 weeks pregnant, participant of Healthy Moms, Healthy
              Babies program Natchez, MS
        .slideshow-slide
          = image_tag "projects_slideshow/proj_s_2.jpg"
          .slideshow-slide-text-container
            %p.slideshow-slide-text
              Roneka, 7 months pregnant, participant of Healthy Moms, Healthy
              Babies program Natchez, MS
        .slideshow-slide
          = image_tag "projects_slideshow/proj_s_3.jpg"
          .slideshow-slide-text-container
            %p.slideshow-slide-text
              Northa, 4 months pregnant, participant of Healthy Moms, Healthy
              Babies program Natchez, MS
        .slideshow-slide
          = image_tag "projects_slideshow/proj_s_4.jpg"
          .slideshow-slide-text-container
            %p.slideshow-slide-text
              Jasmine, 13 weeks pregnant (with her boyfriend Don Rick),
              participant of Healthy Moms, Healthy Babies program Natchez MS
        .slideshow-slide
          = image_tag "projects_slideshow/proj_s_5.jpg"
          .slideshow-slide-text-container
            %p.slideshow-slide-text
              Jakayla, 24 weeks pregnant, participant Healthy Moms, Healthy Babies
              program Natchez, MS
        .slideshow-slide
          = image_tag "projects_slideshow/proj_s_6.jpg"
          .slideshow-slide-text-container
            %p.slideshow-slide-text
              Mayor Larry Brown, Natchez, MS

      %p
        The dynamics supporting pregnant women are not working. Maternal Health
        in the United States is not improving at the rate it should. We at
        Square Roots&trade; believe that it is because of the very fragmented medical
        ecosystem. Maternal health must be reorganized and reoriented around
        city level resources and populations. In 2015, Square Roots&trade; laid the
        foundation for this reconceptualization of maternal health when we
        pioneered the 2015 U.S. Conference of Mayors to make it the first
        conference where a resolution centered on maternal health was passed,
        encouraging cities to prioritize maternal and infant care. Mayor Larry
        Brown of Natchez, Mississippi supported this resolution, and Square
        Roots&trade; funded a pilot program in Natchez to improve the health of mothers
        and infants through an innovative city services program.

      %p
        While doulas are often thought to exist outside of a medical framework,
        they are clearly associated in lowering preterm and cesarean birth
        rates.  Understanding the importance of education and wellness and
        responding to the needs of the community, Square Roots&trade; initiated a
        doula-services program focusing specifically on improving pregnancy and
        birth outcomes among women at risk of maternal obesity and subsequent
        maternal conditions in order to improve the quality of life of mother
        and child. This initial pilot program will be expanded to include other
        city networks with poor maternal health outcomes that could benefit from
        improved coordination.

      %h6.section-subheading
        Pregnancy Education & Empowerment Center—Project Goals:
      %ul
        %li
          A program that is culturally relevant and responds to the needs of
          the city and its residents
        %li
          Disseminate actionable information to city resident and connect
          the community with specialists in the field of maternal health both in
          person and virtually through information portals
        %li
          Provide increased access to healthy foods and healthy,
          trimester-targeted recipes created specifically for the community
        %li
          Further foster positive health impacts within the communities
          through sustainable stakeholder partnerships
