!!!
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
%html{ :lang => "en", :class => 'no-js' }
  %head
    %title Administration
    %meta{ :charset => "utf-8" }
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }
    %meta{ :name => "keywords", :content => meta_keywords }
    %meta{ :name => "description", :content => meta_description }
    = stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "modernizr"
    = javascript_include_tag "requisites"
    = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"
    = javascript_include_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    = csrf_meta_tags

  %body{ :class => "#{params[:controller].split('/').last} #{params[:action]}" }
    = render 'shared/admin_header'
    .flash-container= render_flash
    = yield
    = javascript_include_tag "application"

