<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en">
  <head>
    <title>
      <%= title %>
    </title>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="<%= meta_keywords %>" name="keywords"/>
    <meta content="<%= meta_description %>" name="description"/>
    <style type="text/css">
      .form-inputs {
        width: 60%;
        padding-left: 10%;
      }
    </style>
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "modernizr" %>
    <%= javascript_include_tag "requisites" %>
    <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js" %>    
    <%= javascript_include_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" %>

    <%= csrf_meta_tags %>
    <%#= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"%>
  </head>
  <body class="<%= params[:controller].split('/').last %> <%= params[:action] %>">
    <div class="off-canvas-wrap" data-offcanvas="<%= true %>">
      <div class="inner-wrap">
        <%= render 'shared/devise_header' %>
        <div class="row">
          <% if notice %>
            <p class="alert alert-success"><%= notice %></p>
          <% end %>
          <% if alert %>
            <p class="alert alert-danger"><%= alert %></p>
          <% end %>
        <% if user_signed_in? %>
          Logged in as <strong><%= current_user.email %></strong>.
          <%= link_to 'Edit profile', edit_profile_path, :class => 'navbar-link' %> | 
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
        <% end %>
        </div>
        <%= yield %>
        <%= render 'shared/footer' %>
        <%= link_to '', '', :class => 'exit-off-canvas' %>
      </div>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>


